<aside class="author-info h-card {{author}}">
  <a href="#">
    <img class="u-photo avatar" alt="{{author}}" src="https://profiles.cache.lol/{{author}}/picture">
    <span class="p-name">{{author}}</span>
  </a>
</aside>