<link rel="alternate" type="application/feed+json" title="{{title}}" href="/feed.json" />
<link rel="alternate" type="application/atom+xml" title="{{title}}" href="/atom.xml" />
<link rel="alternate" type="application/rss+xml" title="{{title}}" href="/rss.xml" />
<link rel="alternate" type="application/atom+xml" title="{{title}} Articles" href="/tag/articles/atom.xml" />
<link rel="alternate" type="application/rss+xml" title="{{title}} Articles" href="/tag/articles/rss.xml" />
<link rel="alternate" type="application/atom+xml" title="{{title}} Notes" href="/tag/notes/atom.xml" />
<link rel="alternate" type="application/rss+xml" title="{{title}} Notes" href="/tag/notes/rss.xml" />