  <footer>
    <p>Built with <a href="https://11ty.dev">Eleventy</a>.</p>
    <p><img class="prami-logo" src="https://cdn.cache.lol/img/prami_hybrid.svg"> <a href="https://home.omg.lol/referred-by/deathau">Powered by omg.lol</a></p>

    <nav>
      <div class="feed-couple">
        <a href="/rss.xml" title="RSS Feed">
          <img alt="RSS Everything" src="https://img.shields.io/badge/RSS-All-845e9e?logo=rss">
        </a>
        <a href="/atom.xml" title="Atom Feed">
          <img alt="Atom Everything" src="https://img.shields.io/badge/Atom-All-845e9e?logo=rss&logoColor=9dc0e5">
        </a>
      </div>

      <div class="feed-couple">
        <a href="/tag/articles/rss.xml" title="RSS Articles Feed">
          <img alt="RSS Articles" src="https://img.shields.io/badge/RSS-Articles-845e9e?logo=rss">
        </a>
        <a href="/tag/articles/atom.xml" title="Atom Articles Feed">
          <img alt="Atom Articles" src="https://img.shields.io/badge/Atom-Articles-845e9e?logo=rss&logoColor=9dc0e5">
        </a>
      </div>

      <div class="feed-couple">
        <a href="/tag/notes/rss.xml" title="RSS Notes Feed">
          <img alt="RSS Notes" src="https://img.shields.io/badge/RSS-Notes-845e9e?logo=rss">
        </a>
        <a href="/tag/notes/atom.xml" title="Atom Notes Feed">
          <img alt="Atom Notes" src="https://img.shields.io/badge/Atom-Notes-845e9e?logo=rss&logoColor=9dc0e5">
        </a>
      </div>
    </nav>
  </footer>