  <footer>
    <p>Built with <a href="https://11ty.dev">Eleventy</a>.</p>
    <p><img class="prami-logo" src="https://cdn.cache.lol/img/prami_hybrid.svg"> <a href="https://home.omg.lol/referred-by/deathau">Powered by omg.lol</a></p>
  </footer>

  <script src="/js/luxon.min.js" crossorigin="anonymous"></script>
  <script src="/js/fediverse.js"></script>
  <script>
    document.querySelectorAll('time:not(.dt-start):not(.dt-end)').forEach(time => {
      const datetime = luxon.DateTime.fromISO(time.getAttribute('datetime'))
      time.innerText = datetime.toRelative()
    });
    fediverse()
  </script>

</body>
</html>