  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <meta property="og:title" content="{{ title | safe }}">
  <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.base) }}" />
  <link rel="canonical" href="{{ page.url | htmlBaseUrl(metadata.base) }}" />
  {% if summary %}
  <meta name="description" content="{{ summary | safe }}">
  <meta property="og:description" content="{{ summary | safe }}">
  {% elif emoji %}
  <meta name="description" content="{{ emoji }} {{ content | stripHtml }}">
  <meta property="og:description" content="{{ emoji }} {{ content | stripHtml }}">
  {% endif %}
  {% ogImage "_includes/og-image.og.njk", {title:title, image:image} %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <link rel="icon" href="/favicon.ico">
  <link href="https://unpkg.com/prismjs@1/themes/prism-tomorrow.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/styles.css?v=8">
  {% include '_partials/feeds.njk' %}
