  <div class="header">
    <header>
      <img class="avatar" src="https://profiles.cache.lol/deathau/picture?v=1767671501" alt="My avatar — A skeleton in a purple robe" />
      <h1 class="weblog-title"><a href="{{base}}">{{title}}</a></h1>
      {% include '_partials/navigation.njk' %}
    </header>
  </div>
