  <div class="header">
    <header>
      <img class="avatar" src="https://cdn.some.pics/deathau/663da4619fdb6.svg" alt="My avatar — A pixelated self-portrait in the style of the 'bitizens' in the mobile game Tiny Tower" />
      <h1 class="weblog-title"><a href="{{base}}">{{title}}</a></h1>
      {% include '_partials/navigation.njk' %}
    </header>
  </div>