  <div class="header">
    <header>
      <img class="avatar" src="{{ omg.avatar }}" alt="death.au" />
      <h1 class="weblog-title"><a href="{{base}}">{{title}}</a></h1>
      {% include '_partials/navigation.njk' %}
    </header>
  </div>
