<nav id="weblog-navigation">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/now">Now</a></li>
    <li><a href="/blog/1">Blog</a></li>
    <li><a href="/cv/">CV</a></li>
    <li><fedi-social></fedi-social></li>
  </ul>
</nav>