<article>
    {% if post.data.date %}
    <aside class="post-info">
      <a href="{{ post.url }}">
        <i class="fa-solid fa-clock"></i>
        <time class="dt-published" datetime="{{ post.data.date | dateISOString }}">
          {{ post.data.date | formatDate }}</time>
      </a>
    </aside>
    {% endif %}
    

    {% if post.data.emoji %}
      <i data-emoji="{{post.data.emoji}}">{{post.data.emoji}}</i>
      <p>
        {{ post.templateContent | safe }}
      </p>
    {% else %}
    <h2><a href="{{ post.url }}">{{ post.data.title }} </a></h2>
    {% if post.data.image %}
    <a href="{{ post.url }}" class="feature_image">
      <img src="{{ post.data.image }}" alt="{% if post.data.image_alt %}{{ post.data.image_alt }}{% else %}{{ post.data.title }}{% endif %}"/>
    </a>
    {% endif %}
    <p class="post-excerpt">
      {% if post.data.summary %}
        {{ post.data.summary }}
      {% else %}
       {{ post.templateContent | excerpt }}
      {% endif %}
    </p>
    {% endif %}

    {% if post.data.status_url or post.data.external_url %}
      <aside class="post-info">
        {% if post.data.status_url %}
          <a class="status_url" href="{{post.data.status_url}}" target="_blank"><i class="omg-icon omg-prami"></i> via status.lol</a>
        {% endif %}
        {% if post.data.external_url %}
          <a class="external_url" href="{{post.data.external_url}}" target="_blank"><i class="omg-icon omg-fediverse"></i> Interact on the Fediverse</a>
        {% endif %}
      </aside>
    {% endif %}
    {% if post.data.tags %}
      <aside class="post-tags">
        {% for tag in post.data.tags %}
          <a class="tag" href="/tag/{{ tag | slug }}/">{{ tag }}</a>
        {% endfor %}
      </aside>
    {% endif %}
  </article>