<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  {% include '_partials/head.njk' %}  
</head>
<body>
  {% include '_partials/header.njk' %}
  
  {% block content %}
  {{ content | safe }}
  {% endblock %}

  {% include '_partials/footer.njk' %}
  {% include '_partials/scripts.njk' %}
</body>
</html>