---js
{
  ctx: function() { return this.ctx }
}
---

{% set title="Death.au's Domain" %}
{% extends "base.njk" %}

{%- from '_partials/post.macro.njk' import postMacro %}

{% block content %}
  {{ postMacro(ctx(), false) }}
{% endblock %}