---
layout: base.njk
---
  <main class="h-card home">
    {{ content | safe }}
  </main>

  {% for post in collections.everything.slice(0,20) %}
    {% include '_partials/post-item.njk' %}
  {% endfor %}
  <div class="extra-pagination">
    <nav class="pagination">
      <span class="previous-page">
        <a href="/blog/2/">
          More <i class="fa-solid fa-arrow-right"></i>
        </a>
      </span>
    </nav>
  </div>