---js
{
  "permalink": "/rss.xml",
  "eleventyExcludeFromCollections": true,
  "layout": null,
  "buildDate": new Date().getTime() + new Date().getTimezoneOffset() * 60000
}
---
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title | safe }}</title>
    <link>{{ metadata.base | addPathPrefixToFullUrl }}</link>
    <atom:link rel="self" href="{{ metadata.base | addPathPrefixToFullUrl }}{{ permalink }}" type="application/rss+xml" />
    <description>{{ metadata.subtitle }}</description>
    <language>{{ metadata.language or page.lang }}</language>
    <lastBuildDate>{{ buildDate | dateToRfc822 }}</lastBuildDate>
    <docs>https://www.rssboard.org/rss-specification</docs>
    {%- for post in collections.everything.slice(0,20) %}
    {%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.base) %}
      {% include "_partials/_feed/rss.item.njk" %}
    {%- endfor %}
  </channel>
</rss>