---js
{
  "permalink": "atom.xml",
  "eleventyExcludeFromCollections": true,
  "layout": null,
  "metadata": {
    "language": "en-AU",
    "title": "Death.au's Domain",
    "description": "Thoughts, stories and ideas.",
    "base": "https://death.id.au/",
    "author": {
      "name": "Death.au"
    }
  },
  "buildDate": new Date(new Date().getTime() + new Date().getTimezoneOffset() * 60000)
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link rel="self" href="{{ metadata.base | addPathPrefixToFullUrl }}{{ permalink }}" type="application/atom+xml" />
  <updated>{{ buildDate | dateToRfc3339 }}</updated>
  <author>
    <name>{{metadata.author.name}}</name>
  </author>
  <id>{{ metadata.base | addPathPrefixToFullUrl }}</id>

  {%- for post in collections.everything.slice(0,20) %}
  {%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.base) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <id>{{ absolutePostUrl }}</id>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <published>{{ post.date | dateToRfc3339 }}</published>
    <content type="xhtml"><div xmlns="http://www.w3.org/1999/xhtml">{% if post.data.emoji %}{{post.data.emoji}} {% endif %}{{ post.content | safe }}</div></content>
    <link rel="alternate" href="{{ absolutePostUrl }}" />
    <summary type="html">{% if post.data.emoji %}{{post.data.emoji}} {% endif %}{% if post.data.summary %}{{ post.data.summary }}{% else %}{{ post.templateContent | excerpt }}{% endif %}</summary>
  </entry>
  {%- endfor %}
</feed>