---
type: page
permalink: "/cv/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
layout: base.njk
title: Gordon Pedersen's CV
pagination:
  data: collections.cv
  size: 5
  alias: posts
  addAllPagesToCollections: true
---

<main class="home">
  <div id="details">
    <div id="profile-picture-container">
      <img alt="Gordon Pedersen" id="profile-picture" src="https://cdn.some.pics/deathau/664198254e57d.jpg">
    </div>
    <h1 id="name">Gordon Pedersen</h1>
    <h2>Curriculum Vitae</h2>
  </div>
  <div id="profile-items">
    <p>I'm a software developer in Melbourne, Australia, with 15 years of experience managing projects from concept to deployment and maintenance.</p>
    <p>I enjoy problem-solving, which drives my passion for UX/UI design and my expertise in front-end and back-end languages and frameworks.</p>
  </div>
</main>

<article>
  <p>I am an accomplished and results-oriented Senior Software Developer with 15+ years of experience leading and innovating in fast-paced technology environments. I have a proven ability to architect, develop, and deploy robust software solutions. I am seeking a challenging new role where I can leverage my extensive technical expertise to drive impactful projects and contribute to a company's long-term success.</p>
  <h2>Experience</h2>
  <p class="h-event p-experience">
    <span class="p-location">Aerion Technologies</span> <br> 
    <span class="p-name">Co-founder, Senior Software Architect, Head of Front-End</span> <br> 
    <time class="dt-start" datetime="2008">2008</time> - <time class="dt-end" datetime="2023">2023</time>
  </p>
  <ul>
    <li>
      Co-founded and scaled a successful technology startup, 
      driving all aspects of software development from conception to deployment.
    </li>
    <li>
      Led the design, development, and maintenance of software applications 
      across many industries and disciplines, from mobile apps for architectural 
      inspections to SaaS platforms for retail digital and in-store marketing, 
      and gamified educational tools for specialist learning centres.
    </li>
    <li>
      Mentored and managed teams of 5-10 developers, fostering a collaborative and
      high-performing environment.
    </li>
    <li>
      Worked with clients from the ideation stage to define and refine solutions
      and concepts before designing and contributing development, checking in with
      stakeholders to confirm practical solutions and results.
    </li>
  </ul>
  <p class="h-event p-experience">
    <span class="p-location">Personal Projects & Family Leave</span> <br> 
    <time class="dt-start" datetime="2023">2023</time> - <time class="dt-end" datetime="now">Present</time>
  </p>
  <ul>
    <li>
      Dedicated time to improving my award winning plugin, 
      '<a href="https://death.id.au/cv-05/" rel="noreferrer">Sliding Panes</a> (Andy Matuschak Mode) 
      - A unique way to view open panes in Obsidian.
    </li>
    <li>
      Developed my own mobile game, <a href="https://death.id.au/cv-04/" rel="noreferrer">Cube Tube</a>
      - Developing my skills in Ruby and game development methodologies.
    </li>
    <li>
      Provided primary childcare support, effectively managing personal responsibilities while
      remaining engaged with the latest industry trends and technologies.
    </li>
  </ul>

  <h2>Skills</h2>
  <ul>
    <li> <strong>Programming Languages:</strong><br>
      <span class="p-skill">JavaScript</span>,
      <span class="p-skill">TypeScript</span>,
      <span class="p-skill">Ruby</span>,
      <span class="p-skill">C#</span>,
      <span class="p-skill">Razor</span>/<span class="p-skill">Blazor</span>,
      <span class="p-skill">HTML</span>,
      <span class="p-skill">CSS</span>(/<span class="p-skill">LESS</span>/<span class="p-skill">SASS</span>),
      <span class="p-skill">Objective-C</span>,
      <span class="p-skill">PHP</span>
    </li>
    <li> <strong>Frameworks &amp; Libraries:</strong><br>
      <span class="p-skill">React</span>,
      <span class="p-skill">Angular</span>,
      <span class="p-skill">Node.js</span>,
      <span class="p-skill">Bun.js</span>,
      <span class="p-skill">.NET</span>,
      <span class="p-skill">jQuery</span>,
      <span class="p-skill">Express</span>,
      <span class="p-skill">ASP.NET Core</span>,
      <span class="p-skill">Vue.js</span>,
      <span class="p-skill">Handlebars</span>/<span class="p-skill">Nunjucks</span>
    </li>
    <li> <strong>Databases:</strong><br>
      <span class="p-skill">SQL</span> 
      (<span class="p-skill">PostgreSQL</span>, <span class="p-skill">MySQL</span>, <span class="p-skill">MS SQL</span>),
      <span class="p-skill">SQLite</span>,
      <span class="p-skill">Firebase</span>
    </li>
    <li> <strong>Cloud Platforms:</strong><br>
      <span class="p-skill">Azure</span>,
      <span class="p-skill">AWS</span>,
      <span class="p-skill">Docker</span>,
      <span class="p-skill">npm</span>,
      <span class="p-skill">Cloudflare</span>
    </li>
    <li> <strong>Tools &amp; Methodologies:</strong><br>
      <span class="p-skill">Git</span>,
      <span class="p-skill">GitHub</span>,
      <span class="p-skill">Docker</span>,
      <span class="p-skill">CI/CD</span>,
      <span class="p-skill">Agile</span>,
      <span class="p-skill">Scrum</span>,
      <span class="p-skill">JIRA</span>
    </li>
    <li>
      <strong>Operating Systems:</strong><br>
      <span class="p-skill">Windows</span>,
      <span class="p-skill">macOS</span>,
      <span class="p-skill">Linux</span>,
      <span class="p-skill">Android</span>,
      <span class="p-skill">iOS</span>
    </li>
    <li> <strong>Other:</strong><br>
      <span class="p-skill">API Design</span>,
      <span class="p-skill">System Architecture</span>,
      <span class="p-skill">Team Leadership</span>,
      <span class="p-skill">Problem-Solving</span>,
      <span class="p-skill">Requirements Discovery</span>,
      <span class="p-skill">Stakeholder communication</span>,
      <span class="p-skill">UX/UI Refinement</span>
    </li>
  </ul>

  <h2>Education</h2>
  <p class="h-event p-education">
    <span class="p-name">Bachelor of Computer Science for Games Technology</span> <br> 
    <span class="p-location">La Trobe University</span> <br> 
    <time class="dt-start" datetime="2004">2004</time> - <time class="dt-end" datetime="2008">2008</time>
  </p>

  <h2>Awards &amp; Recognition</h2>
  <ul>
    <li>
      "Plugin of the Year" award for my <a href="https://death.id.au/cv-05/" rel="noreferrer">Sliding Panes</a> plugin, for Obsidian
    </li>
  </ul>

  <h2>Projects</h2>
  <p>
    The below is a selection of projects I have worked on over the years, in order to
    better demonstrate my experience.<br/>
    They are presented in no particular order, and by no means represent everything I
    have worked on.
  </p>
</article>

<a id="projects"></a>
{% include '_partials/pagination-projects.njk' %}

{% for project in posts %}
  <article>
    <aside class="post-info">
      <a href="{{ project.url }}">
        <i class="fa-solid fa-clock"></i>
        <time class="dt-published" datetime="{{ project.data.date | dateISOString }}">
          {{ project.data.date | formatDate }}</time>
      </a>
    </aside> 
    <a href="{{ project.url }}" class="feature_image">
      <img src="{{ project.data.image }}" alt="{% if project.data.image_alt %}{{ project.data.image_alt }}{% else %}{{ project.data.title }}{% endif %}"/>
    </a>
    <h2><a href="{{ project.url }}">{{ project.data.title }} </a></h2>
    <p class="post-excerpt">{{ project.data.summary }}</p>
  </article>
{% endfor %}

{% include '_partials/pagination-projects.njk' %}