---js
{
  buildDate: new Date(new Date().getTime() + new Date().getTimezoneOffset() * 60000)
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/css/simple-atom.xslt"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title>{{ title | safe }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link rel="self" href="{{ link }}" type="application/atom+xml" />
  <updated>{{ buildDate | dateToRfc3339 }}</updated>
  <author>
    <name>{{metadata.author.name}}</name>
  </author>
  
  {{ content | safe }}

</feed>