---
permalink: /tag/articles/atom.xml
layout: feeds/atom.njk
title: "Death.au's Articles"
eleventyComputed: 
  link: "{{ metadata.base }}/tag/articles/atom.xml"
---
<id>{{ metadata.base | addPathPrefixToFullUrl }}/tag/articles/</id>
{%- for post in collections.longform.slice(0,20) %}
  {% include "feeds/atom.entry.njk" %}
{%- endfor %}