---
layout: feeds/atom.njk
pagination: 
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
  filter:
    - all
    - everything
    - everything-reversed
    - authors
    - articles
    - notes
permalink: /tag/{{ tag | slug }}/atom.xml
eleventyComputed: 
  title: "{{ metadata.title | safe }} posts tagged {{ tag }}"
  link: "{{ metadata.base }}/tag/{{ tag | slug }}/atom.xml"
---
<id>{{ metadata.base | addPathPrefixToFullUrl }}tag/{{ tag | slug }}/</id>
{% set taglist = collections[ tag ] %}
{%- for post in taglist | reverse  %}
{%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.base) %}
  {% include "feeds/atom.entry.njk" %}
{%- endfor %}