---js
{
  pagination: {
    data: "collections",
    size: 1,
    alias: "tag",
    addAllPagesToCollections: true,
    filter: [
      "all",
      "everything",
      "everything-reversed",
      "authors"
    ]
  },
  permalink: "/tag/{{ tag | slug }}/atom.xml",
  layout: null,
  buildDate: new Date(new Date().getTime() + new Date().getTimezoneOffset() * 60000)
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title>{{ metadata.title | safe}} tagged “{{ tag }}”</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link rel="self" href="{{ metadata.base | addPathPrefixToFullUrl }}{{ permalink }}" type="application/atom+xml" />
  <updated>{{ buildDate | dateToRfc3339 }}</updated>
  <author>
    <name>{{metadata.author.name}}</name>
  </author>
  <id>{{ metadata.base | addPathPrefixToFullUrl }}tag/{{ tag | slug }}/</id>

  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    {% include "_partials/_feed/atom.entry.njk" %}
  {% endfor %}

</feed>